services:
  lint:
    image: buildkite/plugin-linter
    command: ['--id', 'cultureamp/ecr-scan-results']
    volumes:
      - ".:/plugin:ro"

  tests:
    image: buildkite/plugin-tester:v4.3.0
    volumes:
      - ".:/plugin"
