name: bash-checks

on:
  pull_request:

  push:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Lint
        run: docker compose run --rm lint

      - name: Test
        run: docker compose run --rm tests
