name: go-checks

on: [push]

defaults:
  run:
    working-directory: src

jobs:
  go-ensure-deps:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: src/go.mod
          cache-dependency-path: src/go.sum

      - name: Check Go Modules
        run: make ensure-deps

  go-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: src/go.mod
          cache: false # the lint action does its own caching

      - name: Lint code
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.62.0
          working-directory: src
          args: "-v --timeout=2m"

  go-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: src/go.mod
          cache-dependency-path: src/go.sum

      - id: Test
        uses: ./.github/actions/go-coverage
        with:
          working-directory: src
